:root{
  --font:#0F4E6D;
  --bg:#E4F7FF;
  --button:#24B9FF;
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html{
  font-size: 62.5%;
  font-size: 'Lato', sans-serif;
}
nav{
  position: sticky;
  top:0;
}
/* background img */
.header-bg--img{
  width: 100%;
  height: 213px;
  background-image: url(./img/mujer\ joven\ y\ degradado\ mobile.png);
  background-size: cover;}

/* background txt */
.header-bg--txt{
  padding:32px 10px;
  position:absolute;
  width:170px;}

.header-bg--txt h1{
  font-size: 2.4rem;
  color:#fff;
  line-height: 28.8px;
  font-weight: 400;}

.header-bg--txt hr{
  width:150px;
  border-color: #0F4E6D;}

.header-bg--txt p{
  font-size: 1.2rem;
  color: #fff;
  line-height: 14.4px;
  font-weight: 300;}
/* Planes */
.main-planes--container{
  width:320px;
  height: 831px;}

.main-planes--title{
  color: var(--font);
  text-align: center;}

.main-planes--title h2{
  margin-top: 7px;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  font-weight: 500;}

/* .main-planes--card-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 13px;


} */

.main-planes--card-tite-bold{
  background-color: var(--button);
  width:154px;
  height: 52px;
  border-radius: 23px 23px 0 0;
}