:root{
  --font:#0F4E6D;
  --bg:#E4F7FF;
  --button:#24B9FF;
  --sections:#C9EEFF;
  --border:#DAECF4;
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;

}
html{
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}
nav{
  position: sticky;
  top:0;
  background-color: var(--sections);
}

.container-fluid button{
  border: none;}

/* background img */
.header-bg--img{
  width: 100%;
  height: 213px;
  background-image: url(/img/mujer\ joven\ y\ degradado\ mobile.png);
  background-size: cover;}

/* background txt */
.header-bg--txt{
  padding:32px 10px;
  position:absolute;
  width:170px;}

.header-bg--txt h1{
  font-size: 2.4rem;
  color:#fff;
  line-height: 28.8px;
  font-weight: 400;}

.header-bg--txt hr{
  width:150px;
  border-color: #0F4E6D;}

.header-bg--txt p{
  font-size: 1.2rem;
  color: #fff;
  line-height: 14.4px;
  font-weight: 300;}

/** Planes **/
.main-planes--container{
  width:90%;
  min-width:320px;
  text-align: center;
  margin-top: 10px;}
.planes--title{
  width: 90%;
  min-width: 288px;
  height: auto;
  margin:0 auto;
  text-align: center;
  color:var(--font);}

.planes--title h2{
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;}
  
.planes--title p{
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 300;}

.planes-container--card{
  position: relative;
  width:30%;
  min-width: 145px;
  max-width: 228px;
  height: 202px;
  border-radius: 23px;
  border:1px var(--border) solid;
  margin:14px auto;}

.planes-card--title{
  position: absolute;
  width:145px;
  height: 39px;
  padding:6px;
  background-color: var(--button);
  border-radius: 23px 23px 0 0 ;
  color:#fff;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;}

.planes-card--position{
  padding-top: 49px;}

.planes-card--position p{
  color: var(--font);
  text-align: center;}

.planes-card--light{
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 300;}

.planes-card--bold{
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;}

.planes-card--contratar{
  width:168px;
  height: 39px;
  margin-top: 20px;
  background-color: var(--button);
  border: none;
  border-radius: 18px;
  color:#fff;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 600;
  letter-spacing:0.1rem;}

.planes-card--contratar:hover{
  background-color: var(--font);}
/* contacto */
.main-contacto--container{
  width:100%;
  min-width:320px;
  margin-top: 10px;}
.contacto--title{
  width:90%;
  min-width: 288px;
  height: auto;
  margin:0 auto;
  text-align: center;
  color:var(--font)}
.contacto--title h2{
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;}
.contacto--title p{
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 300;}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto--form-container{
  width:90%;
  height: 39px;
  margin: 3px auto;
  color:var(--font);
  font-size: 1.4rem;
  line-height: 1.6rem;}
input{
  width:182px;}
  
.form-container--msg textarea{
  width:182px;
  height: 48px;
  word-wrap: break-word;
  border-color: gray;}

.planes-card--send{
  margin-top: 62px;
  margin-bottom: 32px;
  width:168px;
  height: 39px;
  background-color: var(--button);
  border: none;
  border-radius: 18px;
  color:#fff;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 600;
  letter-spacing:0.1rem;}

.planes-card--send:hover{
  background-color: var(--font);}

 /* *************** Footer ******************* */

  footer{
    width: 100%;
    height: 216px;
    padding-top: 10px;
    background-color: var(--sections);

  }
  .footer--info{
    margin-bottom: 5px;
    font-size:1.2rem;
    line-height: 1.4rem;
    color:var(--font);
    text-align: center;
    font-weight: 600;
  }
  .footer--redes p {
    margin-bottom: 5px;
    font-size:1.2rem;
    line-height: 1.4rem;
    color:var(--font);
    text-align: center;
  }
  .footer--redes-iconos{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
  }
  .footer--redes-iconos img{
    width:20px;
  }
  .LogoSonoredOriginal{
    display: flex;
    width:75px;
    height: 55px;
    margin: 0 auto;
  }
  .footer--avisos a{
    color:var(--font);
  }
  .footer--avisos{
    margin-top: 15px;
    font-size:1.2rem;
    line-height: 1.4rem;
    color:var(--font);
    text-align: center;
  }
  @media(min-width:768px){
    /****  header ****/
    .header-bg--img{
      height: 403px;}
    .header-bg--txt{
      padding:82px 26px;
      width:396px;}
    .header-bg--txt{
      width:338px;
      height: 198px;} 
     
    .header-bg--txt h1{
        font-size: 3.6rem;
        line-height: 4.3rem;
        text-align: center;}
      
    .header-bg--txt hr{
        width:283px;}
      
    .header-bg--txt p{
        font-size: 2.4rem;
        color: #fff;
        line-height: 2.8rem;
        font-weight: 300;
        text-align: center;}  
  /** Planes **/
    .main-planes--container{
    min-width:768px;
    margin-top: 10px;}

    .planes--container article{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width:574px;
    }
  .planes--title{
    min-width: 315px;}

  .planes--title h2{
    font-size: 2.8rem;
    line-height: 3.3rem;}
  
  .planes--title p{
    font-size: 2.4rem;
    line-height: 2.8rem;}

.planes-container--card{  
  position: relative;
  width:40%;
  min-width: 145px;
  max-width: 228px;
  height: 250px;
  border-radius: 23px;
  border:1.5px var(--border) solid;
  margin:14px auto;}

.planes-card--title{
  position: absolute;
  width:227px;
  height: 45px;
  font-size: 2.4rem;
  line-height: 2.8rem;}

/* .planes-card--position{
  padding-top: 49px;}

.planes-card--position p{
  color: var(--font);
  text-align: center;} */

  .planes-card--light{
    font-size: 2rem;
    line-height: 2.4rem;}

  .planes-card--bold{
    font-size: 2.4rem;
    line-height: 2.8rem;}

.planes-card--contratar{
  width:168px;
  height: 39px;
  margin-top: 20px;
  background-color: var(--button);
  border: none;
  border-radius: 18px;
  color:#fff;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 600;
  letter-spacing:0.1rem;}

.planes-card--contratar:hover{
  background-color: var(--font);}
  }